@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

#container{
    margin: auto;
    width: 400px;
    height: 800px;
}

header, #img_fundo{
    width: 400px;
    height: 360px;
}

#img_fundo{
    margin-bottom: -340px;
}

#buscar{
    font-size: 16px;
    height: 50px;
    width: 320px;
    border-radius: 5px;
    margin-top: 35px;
    margin-left: 30px;
    padding-left: 15px;
    border: none;
    outline: none;
}

#img_buscar{
    width: 25px;
    height: 25px;
    margin-bottom: -10px;
    margin-left: -50px;
    filter: opacity(0.3);
}

#p_1{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 130px;
    padding-left: 25px;
    width: 340px;

}

#slide_floresta{
    width: 140px;
    height: 150px;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px 5px 0 0;
}

#p_2{
    color: #000;
    text-transform: capitalize;
    width: 125px;
    height: 30px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 20px;
    margin-top: -8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

#folha{
    width: 25px;
    height: 25px;
    margin-left: 125px;
    margin-top: -32px;
    margin-bottom: 30px;
    filter: opacity(0.3);
}

#slide_praia{
    width: 140px;
    height: 150px;
    border-radius: 5px 5px 0 0;
    margin-top: -217px;
    margin-bottom: 95px;
    margin-left: 180px;

}

#p_3{
    color: #000;
    text-transform: capitalize;
    width: 125px;
    height: 30px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 180px;
    margin-top: -104px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

#praia{
    width: 25px;
    height: 25px;
    margin-left: 285px;
    margin-top: -32px;
    margin-bottom: 30px;
    filter: opacity(0.3);
}

#footer{
    width: 400px;
    height: 170px;
    background-color: #222;
}

#saiba_mais{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-left: 40px;
    padding-top: 25px;
    margin-bottom: 15px;
}

#rect_1{
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-top: -145px;
    margin-left: 40px;
}

#sobre_empresa{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #cfcfcf;
    margin-top: -15px;
    margin-left: 50px;
}

#rect_2{
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-bottom: 16px;
    margin-top: -145px;
    margin-left: 240px;
}

#perguntas{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #cfcfcf;
    margin-top: -32px;
    margin-left: 250px;
    text-transform: capitalize;
}

#linha_um{
    width: 350px;
    height: 1px;
    background:#2e2e2e;
    margin-left: 30px;
}

#vagas_abertas{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    color: #cfcfcf;
    margin-top: 15px;
    margin-left: 50px;
}

#rect_3{
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-top: -155px;
    margin-left: 40px;
    margin-bottom: 17px;
}

#meios_pagamento{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    color: #cfcfcf;
    margin-top: -31px;
    margin-left: 250px;
}

#rect_4{
    width: 2px;
    height: 8px;
    background-color: #404040;
    margin-top: -155px;
    margin-left:240px;
    margin-bottom: 17px;
}